.navbar {
    background-color: #3498db;
    padding: 0px 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
}

.navbar-nav {
    display: flex;
    list-style: none;
    padding-left: 0;
    margin: 0;
    justify-content: space-between;
    align-items: center;
}

.nav-item {
    margin-right: 20px;
}

.nav-link {
    color: white;
    font-size: 16px;
    padding: 5px 10px;
    text-transform: uppercase;
}

.navbar-toggler {
    border-color: rgba(255, 255, 255, 0.1);
}

.navbar-brand {
    font-size: 1.3rem;
    font-weight: bold;
    color: white;
    display: flex;
    align-items: center;
    padding: 0;
}

.navbar-collapse form {
    margin-left: auto;
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.navbar-collapse form .form-control,
.navbar-collapse form .btn {
    height: 34px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.navbar-nav .nav-item {
    display: flex;
    align-items: center;
}

.navbar-nav .nav-link {
    height: 34px;
    display: flex;
    align-items: center;
}

.dropdown-menu {
    background-color: #15c5c5;
    color: white;
}

.dropdown-item:hover {
    background-color: #30e1af;
    color: white;
}

.dropdown-item {
    color: white;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.container-fluid {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.navbar .nav-link {
    font-size: 0.85rem;
    padding: 3px 10px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8)), url('/static/viewer/images/marble-texture.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    color: #333;
}

h1 {
    text-align: center;
    font-weight: bold;
    text-shadow: 6px 3px 6px rgb(150, 150, 150);
}

h6 {
    text-align: right;
    font-weight: bold;
    font-style: italic;
    color: red;
}

.dropdown-item {
    padding: 8px 15px;
    font-size: 0.9rem;
}

input[type="text"],
input[type="number"],
input[type="password"],
input[type="email"],
input[type="tel"],
input[type="date"],
select,
textarea {
    width: 50%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
    font-size: 0.9rem;
    color: #333;
    transition: background-color 0.3s ease, border-color 0.3s ease;
    box-sizing: border-box;
}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
input[type="tel"]:focus,
input[type="date"]:focus,
select:focus,
textarea:focus {
    border-color: #a3d4f7;
    outline: none;
    background-color: #e7f5fc;
    box-shadow: 0 0 8px rgba(92, 171, 221, 0.5);
    border-radius: 8px;
}

textarea {
    height: 150px;
    resize: vertical;
}

button {
    height: 38px;
    padding: 8px 16px;
    font-size: 1rem;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    border: 1px solid #ccc;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

button:hover {
    background-color: #8ec1ec;
    color: white;
    border-color: #3498db;
}

.form-control {
    margin-right: 5px;
    height: 30px;
    padding: 5px 10px;
    font-size: 0.85rem;
    transition: background-color 1s ease, border-color 1s ease;
}

.form-control:hover,
.form-control:focus {
    background-color: #e7f5fc;
    border-color: #3498db;
}

.btn-light {
    height: 36px;
    padding: 5px 10px;
    font-size: 0.95rem;
    background-color: #ffffff;
    color: #3498db;
    border: 1px solid #3498db;
    transition: background-color 1s ease, color 1s ease, border-color 1s ease;
}

.nav-link:hover,
.btn-light:hover {
    background-color: #3498db;
    color: white;
    border-color: #3498db;
}

.navbar .dropdown-menu a {
    background-color: #15c5c5;
    color: white;
    transition: background-color 2s ease;
}

.navbar .dropdown-menu a:hover {
    background-color: #05fafa;
    color: #000000;
}

.navbar-collapse form .form-control,
.navbar-collapse form .btn {
    height: 30px;
    padding: 5px 8px;
    font-size: 0.85rem;
}

.btn-light:hover {
    background-color: #3498db;
    color: white;
    border-color: #3498db;
}

.btn-orange {
    background-color: #FFA500;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    font-weight: bold;
    border: 1px solid #FFA500;
    transition: background-color 0.3s ease;
}

.btn-orange:hover {
    background-color: #FF8C00;
    border-color: #FF8C00;
}

.carousel {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px 0;
}

.carousel-item {
    height: 300px;
    background-color: #f0f0f0;
}

.carousel-caption {
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 15px;
    border-radius: 8px;
    max-width: 600px;
    margin: 0 auto;
}


.carousel-item img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 10px;
}


.btn {
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.btn:hover {
    background-color: #0069d9;
    box-shadow: 0 0 10px rgba(0, 105, 217, 0.5);
}

.box-shadow {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 20px;
    background-color: white;
}

.errorlist {
    color: red;
    padding: 0;
    margin: 0 0 10px 0;
}

.errorlist li {
    background-color: #f8d7da;
    border: 1px solid #f5c6cb;
    padding: 5px;
    margin-bottom: 5px;
    border-radius: 4px;
}
