{% extends "base.html" %}

{% block content %}
<h1>{{ apartment.name }}</h1>
<div class="apartment-details">
    <div class="apartment-property_type">
        <strong>Typ bytu:</strong>
        {{ apartment.property_type }}
    </div>

    <div class="apartment-area">
        <strong>Výměra:</strong>
            {{ apartment.area }} m2
    </div>
</div>

<div>
    <strong>Fotogalerie:</strong>
</div>
<div class="apartment-images">
    {% for image in apartment.images.all %}
        <span class="apartment-image">
            <img src="{{  image.image.url }}" alt="{{  image.description }}" width="150px">
        </span>
    {% endfor %}
</div>
{% endblock %}
