{% extends "base.html" %}

{% block content %}
<h1>{{ apartment.name }}</h1>
<div class="apartment-details">
    <div class="apartment-property_type">
        <strong>Typ bytu:</strong>
        {{ apartment.property_type }}
    </div>

    <div class="apartment-area">
        <strong>Výměra:</strong>
            {{ apartment.area }} m2
    </div>
    {% if user.is_authenticated %}
    <a href="{%  url 'update_apartments' apartment.id %}"><button type="button" class="btn btn-light">Aktualizovat</button></a>
    {% endif %}
</div>
{% endblock %}
