{% extends "base.html" %}

{% block content %}
<h1>{{ apartment.name }}</h1>
<div class="apartment-details">
    <div class="apartment-property_type">
        <strong>Typ bytu:</strong>
        {{ apartment.property_type }}
    </div>

    <div class="apartment-area">
        <strong>Výměra:</strong>
            {{ apartment.area }} m2
    </div>

    <div class="apartment-description">
        <strong>Popis nemovitosti: </strong>
        {{ apartment.description }}
    </div>

    {% if user.is_authenticated %}
    <a href="{%  url 'update_apartments' apartment.id %}"><button type="button" class="btn btn-light">Aktualizovat</button></a>
    <a href="{%  url 'delete_apartments' apartment.id %}"><button type="button" class="btn btn-light">Vymazat</button></a>
    {% endif %}
</div>

<div>
    <strong>Fotogalerie:</strong>
</div>
<div class="apartment-images">
    {% for image in apartment.images.all %}
        <span class="apartment-image">
            <img src="{{  image.image.url }}" alt="{{  image.description }}" width="150px">
        </span>
    {% endfor %}
</div>
<input type="button" value="Zpět" class="btn btn-primary" onClick="javascript:history.back()">
{% endblock %}
