{% extends 'base.html' %}

{% block content %}
<h1>Kategorie bytů</h1>
    <ul>
    <a href="{% url 'insert_apartment_types' %}" class="btn btn-primary">
     Vložit novou kategorii </a>
    </ul>
    <ul>
        {% for apartment_type in apartment_types %}
            <li>
                {{ apartment_type }}
            {% if user.is_authenticated %}
                    <a href="{% url 'delete_apartment_types' apartment_type.id %}"> ❌ </a>
            {% endif %}
            </li>
        {% endfor %}
    </ul>
    <ul>
    <input type="button" value="Zpět" class="btn btn-primary" onClick="javascript:history.back()">
    </ul>
{% endblock %}