{% extends "base.html" %}

{% block content %}
<h1>{{ property.property_type }}</h1>
<div class="property-details">
    <div class="property-property_type">
        <strong>Adresa nemovitosti:</strong>
        {{ property.address }} {{ property.city }}
    </div>

    <div class="property-value">
        <strong>Odhad ceny nemovitosti:</strong>
            {{ property.estimate_value }} Kč
    </div>

    <div class="property-assurance">
        <strong>Dražební jistota:</strong>
            {{ property.auction_assurance }} Kč
    </div>

    <div class="property-min_bid">
        <strong>Minimální příhoz:</strong>
            {{ property.min_bid }} Kč
    </div>

    <div class="property-date_auction">
        <strong>Datum dražby:</strong>
            {{ property.date_auction }}
    </div>
</div>
{% endblock %}
