{% extends "base.html" %}

{% block content %}
<h1>{{ property.property_type }}</h1>
<div class="property-details">
    <div class="property-property_type">
        <strong>Adresa nemovitosti:</strong>
        {{ auction.address }} {{ auction.city }}
    </div>

    <div class="property-value">
        <strong>Odhad ceny nemovitosti:</strong>
            {{ auction.estimate_value }} Kč
    </div>

    <div class="property-assurance">
        <strong>Dražební jistota:</strong>
            {{ auction.auction_assurance }} Kč
    </div>

    <div class="property-min_bid">
        <strong>Minimální příhoz:</strong>
            {{ auction.min_bid }} Kč
    </div>

    <div class="property-date_auction">
        <strong>Datum dražby:</strong>
            {{ auction.date_auction }}
    </div>
    {% if user.is_authenticated %}
    <a href="{%  url 'update_auction' auction.id %}"><button type="button" class="btn btn-light">Aktualizovat</button></a>
    {% endif %}
</div>
{% endblock %}
