{% extends "base.html" %}

{% block content %}

<h1>{{ auction.property_type }}</h1>
<div class="auction-details">
    <div class="auction-property_type">
        <strong>Adresa nemovitosti:</strong>
        {{ auction.address }}
    </div>

    <div class="auction-value">
        <strong>Odhad ceny nemovitosti:</strong>
            {{ auction.estimate_value }} Kč
    </div>

    <div class="auction-assurance">
        <strong>Dražební jistota:</strong>
            {{ auction.auction_assurance }} Kč
    </div>

    <div class="auction-min_bid">
        <strong>Minimální příhoz:</strong>
            {{ auction.min_bid }} Kč
    </div>

    <div class="auction-date_auction">
        <strong>Datum dražby:</strong>
            {{ auction.date_auction|date:"d.m.Y H:i" }}
    </div>

    <div class="auction-local_time">
        <strong>Aktuální čas:</strong>
            {{ auction.loc_time }}
    </div>
    {% if auction.isnot_start %}
        <div class="auction-time_to">
            <strong>Zbývající čas do dražby:</strong>
                {{ auction.time_to }}
        </div>
    {% endif %}
    {% if auction.in_progress %}
        <div class="auction-time_of">
            <strong>Zbývající čas do konce dražby:</strong>
            {{auction.time_of}}

        </div>
    {% endif %}
</div>

<div class="auction-description">
    <strong>Popis aukce: </strong>
    {{ auction.description }}
</div>

<div>
</div>
<div>
        {% if auction.in_progress %}
            <strong>Poslední příhoz: </strong>
                    {{ bid.bidder_name }}
        {% endif %}

<div>
    <strong>Fotogalerie:</strong>
</div>
<div class="auction-images">
    {% for image in auction.images.all %}
        <span class="auction-image">
            <img src="{{  image.image.url }}" alt="{{  image.description }}" width="150px">
        </span>
    {% endfor %}
</div>
<div>
    {% if auction.in_progress %}
        <form method="post">
            {% csrf_token %}
            <table>{{ form.as_table }}</table>
            <input id="id_submit" type="submit" value="Uložit" class="btn btn-primary">
        </form>
    {% endif %}
</div>
<div>
        {% if auction.end and Bid.bid_date.exists %}
            <strong>Prodáno </strong>

        {% endif %}
</div>
{% endblock %}
