{% extends 'base.html' %}

{% load group_tags %}

{% block content %}
<h1>Okresy</h1>
    <ul>
    <a href="{% url 'insert_cities' %}" class="btn btn-primary">
     Vložit nový okres </a>
    </ul>
    <ul>
        {% for city in cities %}
            <li>
                {{ city }}
            {% if user|has_group:"Admins" %}
                    <a href="{% url 'delete_cities' city.id %}"> ❌ </a>
            {% endif %}
            </li>
        {% endfor %}
    </ul>
    <ul>
    <input type="button" value="Zpět" class="btn btn-primary" onClick="javascript:history.back()">
    </ul>
{% endblock %}
