{% extends 'base.html' %}

{% load group_tags %}

{% block content %}
<h1>Kategorie pozemků</h1>
    <ul>
    <a href="{% url 'insert_ground_type' %}" class="btn btn-primary">
     Vložit novou kategorii </a>
    </ul>
    <ul>
        {% for ground_type in ground_types %}
            <li>
                {{ ground_type }}
            {% if user|has_group:"Admins" %}
                    <a href="{% url 'delete_ground_type' ground_type.id %}"> ❌ </a>
            {% endif %}
            </li>
        {% endfor %}
    </ul>
    <ul>
    <input type="button" value="Zpět" class="btn btn-primary" onClick="javascript:history.back()">
    </ul>
{% endblock %}