{% extends "base.html" %}

{% block content %}
<h1>{{ house.name }}</h1>
<div class="house-details">
    <div class="house-property_type">
        <strong>Typ domu:</strong>
        {{ house.property_type }}
    </div>

    <div class="house-area">
        <strong>Výměra:</strong>
        <ul>
            <li>celková: {{ house.area }} m2</li>
            <li>zastavěná plocha: {{ house.plot_area }} m2</li>
            <li>okolní pozemek: {{ house.garden_area }} m2</li>
        </ul>
    </div>

    <div class="house-description">
        <strong>Popis nemovitosti: </strong>
        {{ house.description }}
    </div>

    {% if user.is_authenticated %}
    <a href="{%  url 'update_houses' house.id %}"><button type="button" class="btn btn-light">Aktualizovat</button></a>
    <a href="{%  url 'delete_houses' house.id %}"><button type="button" class="btn btn-light">Vymazat</button></a>

    {% endif %}
</div>

<div>
    <strong>Fotogalerie:</strong>
</div>
<div class="house-images">
    {% for image in house.images.all %}
        <span class="house-image">
            <img src="{{  image.image.url }}" alt="{{  image.description }}" width="150px">
        </span>
    {% endfor %}
</div>
<input type="button" value="Zpět" class="btn btn-primary" onClick="javascript:history.back()">
{% endblock %}
