{% extends 'base.html' %}

{% block content %}
<h1>Vložení dat</h1>
    <ul>
        <li><a href="{% url 'insert_houses' %}"> Vložit dům </a></li>
        <li><a href="{% url 'insert_apartments' %}"> Vložit byt </a></li>
        <li><a href="{% url 'insert_grounds' %}"> Vložit pozemek </a></li>
        <li><a href="{% url 'insert_property_type' %}"> Vložit typ pozemku </a></li>
        <li><a href="{% url 'insert_auction' %}"> Vložit aukce </a></li>
        <li><a href="{% url 'image_create' %}"> Vložit obrázek </a></li>

    </ul>
{% endblock %}