{% extends 'base.html' %}

{% block content %}
<h1>Vložení dat</h1>
    <ul>
        <li><a href="{% url 'insert_cities' %}"> Vložit město </a><a href="{% url 'cities'%}"> 🔧 </a></li>
        <li><a href="{% url 'insert_house_type' %}"> Vložit typ domu </a><a href="{% url 'house_types'%}"> 🔧 </a></li>
        <li><a href="{% url 'insert_houses' %}"> Vložit dům </a></li>
        <li><a href="{% url 'insert_apartment_types' %}"> Vložit typ bytu </a><a href="{% url 'aparment_types'%}"> 🔧 </a></li>
        <li><a href="{% url 'insert_apartments' %}"> Vložit byt </a></li>
        <li><a href="{% url 'insert_ground_type' %}"> Vložit typ pozemeku </a><a href="{% url 'ground_types'%}"> 🔧 </a></li>
        <li><a href="{% url 'insert_grounds' %}"> Vložit pozemek </a></li>
        <li><a href="{% url 'insert_property_type' %}"> Vložit typ nemovitosti </a></li>
        <li><a href="{% url 'insert_auction' %}"> Vložit aukce </a></li>
        <li><a href="{% url 'image_create' %}"> Vložit obrázek </a></li>

    </ul>
{% endblock %}